{% extends 'base.html' %}
{% block body %}
    {{ block.super }}
    <body class="page-header-fixed page-quick-sidebar-over-content page-quick-sidebar-over-content-transparent">
         <div class="page-header navbar navbar-fixed-top" >
             <div>最左边头像与ID</div>
             <div>最右边天气</div>
         </div>
         <div>
             主题内容
             <div>
                 左侧模块,分为两部分
                 <div>
                     第一部分博客分类
                 </div>
                 <div>
                     第二部分二维码
                 </div>
             </div>
             <div>
                 中间模块
             </div>
             <div>
                 右侧模块
             </div>
         </div>
    </body>
    {% block script %}
        <script>
        </script>
    {% endblock %}
{% endblock %}
